body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    min-width: 350px;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#input-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.input-form-col {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.input-form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.input-form-input {
    align-items: center;
    width: 100%;
    height: 43px;
}

#input-form label {
    font-weight: bold;
}

#input-form input[type="number"] {
    padding: 6px;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#input-form select {
    padding: 6px;
    padding-left: 3px;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#input-form input[type="radio"] {
    margin-top: -1px;
}

.radio-group-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}

.radio-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2px;
    height: 29px;
}

#grid-div {
    width: 100%;
    height: 930px;
}

#chart-wrapper-div {
    width: 100%;
    overflow-x: auto;
}

#chart-div {
    padding: 10px;
    width: 100%;
    min-width: 1120px;
    height: 650px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#explain-div {
    width: 100;
    padding: 50px;
    font-size: 13px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #input-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5px;
        gap: 5px;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }

    .input-form-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5px;
        gap: 5px;
        box-sizing: border-box;
    }
}