body {
    font-size: 13px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-div {
    display: flex;
    flex-direction:row;
    justify-content: center;

    max-width: 1600px;
    padding: 20px;
    gap: 20px;
}

#input-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width:25%;
    padding: 20px;
    gap: 20px;
    border: 1px solid #ddd;
}

#output-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width:75%;
    padding: 20px;
    gap: 20px;
    border: 1px solid #ddd;
}

#input-form{
    width: 100%;
}

.input-form-div{
    width: 100%;
    margin-bottom: 10px;
}

#input-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#input-form input[type="number"],
select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#input-form input[type="button"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.input-aumento{
    border-top: 1px solid #ddd;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.radio-group label {
    margin: 5px;
}

.radio-group input[type="radio"] {
    margin: 5px;
}

#chart-div {
    width: 100%;
    max-width: 1400px;
}

#myChart {
    width: 768px;
    height: 600px;
}


#explain-div{
    padding: 20px;
    border: 1px solid #ddd;
    width:80%;
}

@media (max-width: 768px) {
    #top-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #input-div{
        width: 100%;
    }

    #output-div{
        width: 100%;
    }
}


/* Style the table */

#output-table {
    width: 100%;
    table-layout: fixed;
}

#output-table thead th {
    font-weight: bold;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
}

#output-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#output-table tbody tr:nth-child(odd) {
    background-color: #fff;
}

#output-table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

#output-table tbody tr:hover {
    background-color: #f2f2f2;
}
